In [1]:
import pandas as pd

### Data on Games

We have two files for games: games.csv and 2019_games.csv. We will organize and append the datasets with the relevant columns.

In [2]:
games = pd.read_csv('../MLB/games.csv')

In [3]:
games

,attendance,away_final_score,away_team,date,elapsed_time,g_id,home_final_score,home_team,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay
0,35055,3,sln,2015-04-05,184,201500001,0,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0
1,45909,1,ana,2015-04-06,153,201500002,4,sea,1:12 PM,Ron Kulpa,Brian Knight,Vic Carapazza,Larry Vanover,Safeco Field,"54 degrees, cloudy","1 mph, Varies",0
2,36969,2,atl,2015-04-06,156,201500003,1,mia,4:22 PM,Laz Diaz,Chris Guccione,Cory Blaser,Jeff Nelson,Marlins Park,"80 degrees, partly cloudy","16 mph, In from CF",16
3,31042,6,bal,2015-04-06,181,201500004,2,tba,3:12 PM,Ed Hickox,Paul Nauert,Mike Estabrook,Dana DeMuth,Tropicana Field,"72 degrees, dome","0 mph, None",0
4,45549,8,bos,2015-04-06,181,201500005,0,phi,3:08 PM,Phil Cuzzi,Tony Randazzo,Will Little,Gerry Davis,Citizens Bank Park,"71 degrees, partly cloudy","11 mph, Out to RF",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9713,21146,1,tex,2018-09-30,134,201802427,3,sea,12:10 PM,Marvin Hudson,Quinn Wolcott,Nick Mahrley,Ryan Additon,Safeco Field,"65 degrees, cloudy","0 mph, Calm",0
9714,13313,4,tor,2018-09-30,186,201802428,9,tba,3:09 PM,Ted Barrett,Roberto Ortiz,Lance Barksdale,Will Little,Tropicana Field,"72 degrees, dome","0 mph, None",0
9715,47833,0,was,2018-09-30,182,201802429,12,col,1:12 PM,Chris Guccione,David Rackley,Larry Vanover,Hunter Wendelstedt,Coors Field,"52 degrees, partly cloudy","6 mph, R to L",0
9716,47816,2,col,2018-10-01,201,201802430,5,lan,1:09 PM,Brian Gorman,Jerry Meals,Marvin Hudson,Bill Welke,Dodger Stadium,"90 degrees, sunny","6 mph, Out to CF",0
9717,38450,3,mil,2018-10-01,186,201802431,1,chn,12:05 PM,Jeff Nelson,Jim Reynolds,Chad Fairchild,Fieldin Culbreth,Wrigley Field,"65 degrees, overcast","6 mph, R to L",0

In [4]:
col_keeps = ['g_id', 'home_team', 'away_team', 'home_final_score', 'away_final_score']

col_del =[col for col in games.columns if col not in col_keeps]

games.drop(col_del, axis=1, inplace=True)

In [5]:
games = games.reindex(columns=col_keeps)

In [6]:
games19 = pd.read_csv('../MLB/2019_games.csv')

In [7]:
games19

,g_id,home_team,away_team,home_final_score,away_final_score,date,umpire_HP,umpire_1B,umpire_2B,umpire_3B,start_time,venue_name,weather,wind,elapsed_time,attendance
0,201900001.0,oak,ana,4.0,0.0,2019-03-28,NaN,NaN,NaN,NaN,NaN,Oakland Coliseum,NaN,NaN,NaN,NaN
1,201900002.0,lan,ari,12.0,5.0,2019-03-28,NaN,NaN,NaN,NaN,NaN,Dodger Stadium,NaN,NaN,NaN,NaN
2,201900003.0,phi,atl,10.0,4.0,2019-03-28,NaN,NaN,NaN,NaN,NaN,Citizens Bank Park,NaN,NaN,NaN,NaN
3,201900004.0,nya,bal,7.0,2.0,2019-03-28,NaN,NaN,NaN,NaN,NaN,Yankee Stadium,NaN,NaN,NaN,NaN
4,201900005.0,sea,bos,12.0,4.0,2019-03-28,NaN,NaN,NaN,NaN,NaN,T-Mobile Park,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2403,201902404.0,kca,min,3.0,4.0,2019-09-28,NaN,NaN,NaN,NaN,NaN,Kauffman Stadium,NaN,NaN,NaN,NaN
2404,201902405.0,tex,nya,9.0,4.0,2019-09-28,NaN,NaN,NaN,NaN,NaN,Globe Life Park in Arlington,NaN,NaN,NaN,NaN
2405,201902406.0,sea,oak,0.0,1.0,2019-09-28,NaN,NaN,NaN,NaN,NaN,T-Mobile Park,NaN,NaN,NaN,NaN
2406,201902407.0,ari,sdn,6.0,5.0,2019-09-28,NaN,NaN,NaN,NaN,NaN,Chase Field,NaN,NaN,NaN,NaN
2407,201902408.0,tor,tba,4.0,1.0,2019-09-28,NaN,NaN,NaN,NaN,NaN,Rogers Centre,NaN,NaN,NaN,NaN

In [8]:
### drop irrelevant and Null columns

col_del = [col for col in games19.columns if col not in col_keeps]

games19.drop(col_del, axis=1, inplace=True)

In [9]:
### Change data type to be suitable for anaysis

for col in ['g_id','away_final_score', 'home_final_score']:
    games19[col] = games19[col].astype(int)

In [10]:
games19.dtypes

g_id                 int64
home_team           object
away_team           object
home_final_score     int64
away_final_score     int64
dtype: object

In [11]:
games = games.append(games19, ignore_index=True)

In [12]:
games

            g_id home_team away_team  home_final_score  away_final_score
0      201500001       chn       sln                 0                 3
1      201500002       sea       ana                 4                 1
2      201500003       mia       atl                 1                 2
3      201500004       tba       bal                 2                 6
4      201500005       phi       bos                 0                 8
...          ...       ...       ...               ...               ...
12121  201902404       kca       min                 3                 4
12122  201902405       tex       nya                 9                 4
12123  201902406       sea       oak                 0                 1
12124  201902407       ari       sdn                 6                 5
12125  201902408       tor       tba                 4                 1

[12126 rows x 5 columns]

In [13]:
games.to_csv('../clean_data/clean_games.csv', index=False)

### Data on At bats

In this section, we are cleaning the data on at bats.

In [14]:
atbats = pd.read_csv('../MLB/atbats.csv')
atbats19 = pd.read_csv('../MLB/2019_atbats.csv')

In [15]:
atbats

,ab_id,batter_id,event,g_id,inning,o,p_score,p_throws,pitcher_id,stand,top
0,2015000001,572761,Groundout,201500001,1,1,0,L,452657,L,True
1,2015000002,518792,Double,201500001,1,1,0,L,452657,L,True
2,2015000003,407812,Single,201500001,1,1,0,L,452657,R,True
3,2015000004,425509,Strikeout,201500001,1,2,0,L,452657,R,True
4,2015000005,571431,Strikeout,201500001,1,3,0,L,452657,L,True
...,...,...,...,...,...,...,...,...,...,...,...
740384,2018185570,543768,Groundout,201802431,9,3,1,L,448802,L,True
740385,2018185571,502517,Strikeout,201802431,9,1,3,L,623352,L,False
740386,2018185572,450314,Flyout,201802431,9,2,3,L,623352,R,False
740387,2018185573,595879,Single,201802431,9,2,3,L,623352,R,False
740388,2018185574,519203,Flyout,201802431,9,3,3,L,623352,L,False

In [16]:
atbats19

,inning,top,ab_id,g_id,p_score,batter_id,pitcher_id,stand,p_throws,event,o
0,1.0,1.0,2.019000e+09,201900001.0,0.0,594777,571666,L,R,Flyout,1
1,1.0,1.0,2.019000e+09,201900001.0,0.0,545361,571666,R,R,Flyout,2
2,1.0,1.0,2.019000e+09,201900001.0,0.0,571506,571666,L,R,Groundout,3
3,1.0,0.0,2.019000e+09,201900001.0,0.0,543257,502239,L,R,Single,0
4,1.0,0.0,2.019000e+09,201900001.0,0.0,656305,502239,R,R,Flyout,1
...,...,...,...,...,...,...,...,...,...,...,...
185240,8.0,0.0,2.019185e+09,201902408.0,1.0,643376,656222,R,L,Strikeout,2
185241,8.0,0.0,2.019185e+09,201902408.0,1.0,620446,656222,R,L,Forceout,3
185242,9.0,1.0,2.019185e+09,201902408.0,4.0,663993,571704,L,R,Groundout,1
185243,9.0,1.0,2.019185e+09,201902408.0,4.0,622110,571704,R,R,Groundout,2
185244,9.0,1.0,2.019185e+09,201902408.0,4.0,605421,571704,L,R,Strikeout,3

In [17]:
### Changing data types to be suitable for analysis

for col in ['inning', 'ab_id', 'g_id']:
    atbats[col] = atbats[col].astype(int)
    atbats19[col] = atbats19[col].astype(int)

In [18]:
### Reindex to match so that we can append the DataFrames
col_order = ['ab_id', 'g_id', 'batter_id', 'pitcher_id', 'stand', 'p_throws','inning', 'event', 'o', 'top']

atbats = atbats.reindex(columns=col_order)
atbats19 = atbats19.reindex(columns=col_order)

In [19]:
atbats = atbats.append(atbats19, ignore_index=True)

In [20]:
atbats.top = atbats.top.astype(bool)

In [21]:
atbats

,ab_id,g_id,batter_id,pitcher_id,stand,p_throws,inning,event,o,top
0,2015000001,201500001,572761,452657,L,L,1,Groundout,1,True
1,2015000002,201500001,518792,452657,L,L,1,Double,1,True
2,2015000003,201500001,407812,452657,R,L,1,Single,1,True
3,2015000004,201500001,425509,452657,R,L,1,Strikeout,2,True
4,2015000005,201500001,571431,452657,L,L,1,Strikeout,3,True
...,...,...,...,...,...,...,...,...,...,...
925629,2019185241,201902408,643376,656222,R,L,8,Strikeout,2,False
925630,2019185242,201902408,620446,656222,R,L,8,Forceout,3,False
925631,2019185243,201902408,663993,571704,L,R,9,Groundout,1,True
925632,2019185244,201902408,622110,571704,R,R,9,Groundout,2,True
925633,2019185245,201902408,605421,571704,L,R,9,Strikeout,3,True

In [22]:
atbats.to_csv('../clean_data/clean_atbats.csv', index=False)

### Data on pitches

Clean and organize data on individual pitches

In [23]:
pitches = pd.read_csv('../MLB/pitches.csv')
pitches19 = pd.read_csv('../MLB/2019_pitches.csv')

In [24]:
pitches

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,...,event_num,b_score,ab_id,b_count,s_count,outs,pitch_num,on_1b,on_2b,on_3b
0,0.416000,2.963000,92.9,84.1,2305.052,159.235,-25.0,3.2,23.7,7.665000,...,3,0.0,2.015000e+09,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,-0.191000,2.347000,92.8,84.1,2689.935,151.402,-40.7,3.4,23.7,12.043000,...,4,0.0,2.015000e+09,0.0,1.0,0.0,2.0,0.0,0.0,0.0
2,-0.518000,3.284000,94.1,85.2,2647.972,145.125,-43.7,3.7,23.7,14.368000,...,5,0.0,2.015000e+09,0.0,2.0,0.0,3.0,0.0,0.0,0.0
3,-0.641000,1.221000,91.0,84.0,1289.590,169.751,-1.3,5.0,23.8,2.104000,...,6,0.0,2.015000e+09,0.0,2.0,0.0,4.0,0.0,0.0,0.0
4,-1.821000,2.083000,75.4,69.6,1374.569,280.671,18.4,12.0,23.8,-10.280000,...,7,0.0,2.015000e+09,1.0,2.0,0.0,5.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2867149,0.230280,1.784910,83.9,78.2,608.594,275.800,10.5,8.8,23.9,-5.097492,...,568,1.0,2.018186e+09,3.0,2.0,2.0,9.0,0.0,0.0,0.0
2867150,-1.211049,2.479020,97.7,89.5,2262.907,155.009,-26.9,2.9,23.8,9.344343,...,572,1.0,2.018186e+09,0.0,0.0,2.0,1.0,1.0,0.0,0.0
2867151,-0.444578,2.619287,97.3,89.6,2514.010,147.166,-40.5,3.3,23.8,13.292081,...,577,1.0,2.018186e+09,1.0,0.0,2.0,2.0,0.0,1.0,0.0
2867152,-0.259813,1.336484,95.9,88.6,2318.775,144.921,-34.2,3.8,23.8,12.786338,...,578,1.0,2.018186e+09,1.0,1.0,2.0,3.0,0.0,1.0,0.0
2867153,0.279546,2.818937,95.8,87.7,2354.885,144.198,-36.9,3.8,23.8,13.235496,...,579,1.0,2.018186e+09,1.0,2.0,2.0,4.0,0.0,1.0,0.0

In [25]:
pitches19

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,...,event_num,b_score,ab_id,b_count,s_count,outs,pitch_num,on_1b,on_2b,on_3b
0,0.00,2.15,88.8,80.7,placeholder,placeholder,22.8,4.8,24.0,-8.47,...,5,0.0,2.019000e+09,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.34,2.31,89.9,81.8,placeholder,placeholder,22.8,3.6,24.0,-7.10,...,8,0.0,2.019000e+09,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,-0.05,2.03,85.7,79.6,placeholder,placeholder,9.6,6.0,24.0,3.65,...,9,0.0,2.019000e+09,0.0,0.0,1.0,2.0,0.0,0.0,0.0
3,0.49,0.92,85.4,78.5,placeholder,placeholder,24.0,7.2,24.0,-13.77,...,10,0.0,2.019000e+09,0.0,1.0,1.0,3.0,0.0,0.0,0.0
4,-0.13,1.11,84.6,77.6,placeholder,placeholder,26.4,8.4,24.0,-15.99,...,11,0.0,2.019000e+09,1.0,1.0,1.0,4.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728785,0.30,1.99,95.8,87.3,placeholder,placeholder,40.8,3.6,24.0,-13.45,...,500,1.0,2.019185e+09,2.0,0.0,1.0,4.0,0.0,0.0,0.0
728786,1.00,-0.38,87.2,80.3,placeholder,placeholder,7.2,7.2,24.0,-5.16,...,503,1.0,2.019185e+09,0.0,0.0,2.0,1.0,0.0,0.0,0.0
728787,0.36,2.02,95.0,86.6,placeholder,placeholder,33.6,3.6,24.0,-10.91,...,504,1.0,2.019185e+09,1.0,0.0,2.0,2.0,0.0,0.0,0.0
728788,-0.26,2.60,84.0,75.3,placeholder,placeholder,2.4,8.4,24.0,-2.69,...,505,1.0,2.019185e+09,1.0,0.0,2.0,3.0,0.0,0.0,0.0
728789,0.22,1.06,85.8,77.6,placeholder,placeholder,4.8,8.4,24.0,-3.94,...,506,1.0,2.019185e+09,1.0,0.0,2.0,4.0,0.0,0.0,0.0

In [26]:
pitches.columns

Index(['px', 'pz', 'start_speed', 'end_speed', 'spin_rate', 'spin_dir',
       'break_angle', 'break_length', 'break_y', 'ax', 'ay', 'az', 'sz_bot',
       'sz_top', 'type_confidence', 'vx0', 'vy0', 'vz0', 'x', 'x0', 'y', 'y0',
       'z0', 'pfx_x', 'pfx_z', 'nasty', 'zone', 'code', 'type', 'pitch_type',
       'event_num', 'b_score', 'ab_id', 'b_count', 's_count', 'outs',
       'pitch_num', 'on_1b', 'on_2b', 'on_3b'],
      dtype='object')

In [27]:
### Dropping all columns that will not be used for analysis

for col in ['start_speed', 'spin_rate', 'spin_dir', 'type_confidence', 'break_angle', 'break_length', 'break_y', 'ax',
       'ay', 'az', 'sz_bot', 'sz_top', 'vx0', 'vy0', 'vz0', 'x', 'x0', 'y',
       'y0', 'z0', 'pfx_x', 'pfx_z', 'nasty', 'zone', 'code', 'type']:
    
    pitches = pitches.drop(col, axis=1)
    pitches19 = pitches19.drop(col, axis=1)

In [28]:
### Changing data types for columns 

for col in ['b_score', 'ab_id', 'b_count', 's_count', 'outs', 'pitch_num']:
    pitches[col] = pitches[col].astype(int)
    pitches19[col] = pitches19[col].astype(int)

In [29]:
for col in ['on_1b', 'on_2b', 'on_3b']:
    pitches[col] = pitches[col].astype(bool)
    pitches19[col] = pitches19[col].astype(bool)

In [30]:
### Now that the two DataFrames have the same data structure, we can append them.

pitches = pitches.append(pitches19, ignore_index=True)

In [31]:
pitches

,px,pz,end_speed,pitch_type,event_num,b_score,ab_id,b_count,s_count,outs,pitch_num,on_1b,on_2b,on_3b
0,0.416,2.963,84.1,FF,3,0,2015000001,0,0,0,1,False,False,False
1,-0.191,2.347,84.1,FF,4,0,2015000001,0,1,0,2,False,False,False
2,-0.518,3.284,85.2,FF,5,0,2015000001,0,2,0,3,False,False,False
3,-0.641,1.221,84.0,FF,6,0,2015000001,0,2,0,4,False,False,False
4,-1.821,2.083,69.6,CU,7,0,2015000001,1,2,0,5,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3595939,0.300,1.990,87.3,FF,500,1,2019185244,2,0,1,4,False,False,False
3595940,1.000,-0.380,80.3,SL,503,1,2019185245,0,0,2,1,False,False,False
3595941,0.360,2.020,86.6,FF,504,1,2019185245,1,0,2,2,False,False,False
3595942,-0.260,2.600,75.3,SL,505,1,2019185245,1,0,2,3,False,False,False
3595943,0.220,1.060,77.6,SL,506,1,2019185245,1,0,2,4,False,False,False

In [32]:
pitches.to_csv('../clean_data/clean_pitches.csv', index=False)

### Now let's retrieve the clean data to confirm that everything worked
<br>

In [33]:
games = pd.read_csv('../clean_data/clean_games.csv')
games

            g_id home_team away_team  home_final_score  away_final_score
0      201500001       chn       sln                 0                 3
1      201500002       sea       ana                 4                 1
2      201500003       mia       atl                 1                 2
3      201500004       tba       bal                 2                 6
4      201500005       phi       bos                 0                 8
...          ...       ...       ...               ...               ...
12121  201902404       kca       min                 3                 4
12122  201902405       tex       nya                 9                 4
12123  201902406       sea       oak                 0                 1
12124  201902407       ari       sdn                 6                 5
12125  201902408       tor       tba                 4                 1

[12126 rows x 5 columns]

In [34]:
atbats = pd.read_csv('../clean_data/clean_atbats.csv')
atbats

,ab_id,g_id,batter_id,pitcher_id,stand,p_throws,inning,event,o,top
0,2015000001,201500001,572761,452657,L,L,1,Groundout,1,True
1,2015000002,201500001,518792,452657,L,L,1,Double,1,True
2,2015000003,201500001,407812,452657,R,L,1,Single,1,True
3,2015000004,201500001,425509,452657,R,L,1,Strikeout,2,True
4,2015000005,201500001,571431,452657,L,L,1,Strikeout,3,True
...,...,...,...,...,...,...,...,...,...,...
925629,2019185241,201902408,643376,656222,R,L,8,Strikeout,2,False
925630,2019185242,201902408,620446,656222,R,L,8,Forceout,3,False
925631,2019185243,201902408,663993,571704,L,R,9,Groundout,1,True
925632,2019185244,201902408,622110,571704,R,R,9,Groundout,2,True
925633,2019185245,201902408,605421,571704,L,R,9,Strikeout,3,True

In [35]:
pitches = pd.read_csv('../clean_data/clean_pitches.csv')
pitches

,px,pz,end_speed,pitch_type,event_num,b_score,ab_id,b_count,s_count,outs,pitch_num,on_1b,on_2b,on_3b
0,0.416,2.963,84.1,FF,3,0,2015000001,0,0,0,1,False,False,False
1,-0.191,2.347,84.1,FF,4,0,2015000001,0,1,0,2,False,False,False
2,-0.518,3.284,85.2,FF,5,0,2015000001,0,2,0,3,False,False,False
3,-0.641,1.221,84.0,FF,6,0,2015000001,0,2,0,4,False,False,False
4,-1.821,2.083,69.6,CU,7,0,2015000001,1,2,0,5,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3595939,0.300,1.990,87.3,FF,500,1,2019185244,2,0,1,4,False,False,False
3595940,1.000,-0.380,80.3,SL,503,1,2019185245,0,0,2,1,False,False,False
3595941,0.360,2.020,86.6,FF,504,1,2019185245,1,0,2,2,False,False,False
3595942,-0.260,2.600,75.3,SL,505,1,2019185245,1,0,2,3,False,False,False
3595943,0.220,1.060,77.6,SL,506,1,2019185245,1,0,2,4,False,False,False